{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
	<br>
	<section class="background-white">
		<div class="container">
			<h4>
				Pour vous présenter, ces informations défileront, pour la journée uniquement, sur un écran à La Rodia.<br />
				La photo facultative permettra de vous identifier si d'autres personnes souhaitent vous rencontrer (par exemple, pendant le buffet "business")
			</h4>

			{{ form_start(form) }}
			<div class="row">

				<div class="col-md-6">
					{{ form_row(form.name) }}
					<b>Attention, l'image sera redimensionné dans un format carré.</b>
					{{ form_row(form.logoFile) }}
					{{ form_row(form.imageFile) }}
					{{ form_row(form.bio) }}
				</div>
				<div class="col-md-6">
					{{ form_row(form.email) }}
					{{ form_row(form.emailHidden) }}

					<div class="form-group">
						{{ form_label(form.url) }} (ex: https://<em>monsiteweb.fr/</em>)
						{{ form_errors(form.url) }}
						{{ form_widget(form.url) }}
					</div>
					<div class="form-group">
						{{ form_label(form.facebook) }} (ex: https://www.facebook.com/<em>mapage</em>)
						{{ form_errors(form.facebook) }}
						{{ form_widget(form.facebook) }}
					</div>
					<div class="form-group">
						{{ form_label(form.twitter) }} (ex: @<em>TWITTER</em>)
						{{ form_errors(form.twitter) }}
						{{ form_widget(form.twitter) }}
					</div>
					<div class="form-group">
						{{ form_label(form.instagram) }} (ex: <em>mon_compteinstagram</em>)
						{{ form_errors(form.instagram) }}
						{{ form_widget(form.instagram) }}
					</div>
					<div class="form-group">
						{{ form_label(form.linkedin) }} (ex: https://www.linkedin.com/in/<em>mapage</em>)
						{{ form_errors(form.linkedin) }}
						{{ form_widget(form.linkedin) }}
					</div>
				</div>
			</div>

			<br>

			<div class="row">
				<div class="col-md-12 text-center">
				{{ form_end(form) }}
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('build/js/main.js') }}"></script>
{% endblock %}
