{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<br>
		<div class="row">
			<div class="well col-md-8 col-md-offset-2">
				<div class="thumbnail">
					<img class="img-responsive col-md-4" src="{{ asset('/images/members/' ~ member.imageName) | imagine_filter('squared_thumbnail') }}"
						 alt="">
					<div class="caption col-md-8">
						<p class="media-heading">{{ member.name }}</p>
						{{ member.bio | raw }}
						<div>
							{{ member.url }}
							{{ member.facebook }}
							{{ member.twitter }}
							{{ member.instagram }}
							{{ member.linkedin }}
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<p>Merci, vos informations ont été correctement enregistrés. RDV le 15 mars à la Rodia !</p>
			<p>En cas d'erreur, veuillez contacter leograndcontact@gmail.com</p>
		</div>
		
	</div>

{% endblock %}